<html>
  <head></head>
  <body>
    <form action="/getlink" method="get">
      <input type="submit" value="Add link">
    </form>
    <% if flash[:notice] == "You have submitted an invalid url" %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <div>
      <ul>
        <% @links.each do |link| %>
          <li>
            <%= link.id %>
            <a href="<%= link.url %>">
              <%= link.url %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </body>
</html>
