<html>
  <head></head>
  <body>
    <form action="/getlink" method="get">
      <input type="submit" value="Add link">
    </form>
    <div>
      <ul>
        <% @links.each do |link| %>
          <li>
            <%= link %>
          </li>
        <% end %>
      </ul>
    </div>
  </body>
</html>
